<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <style>
        .logo {
            height: 200px;
            width: 200px;
            border-radius: 6px;
            transform: rotate(60deg);
            transition: 0.98s;
        }
        
        .logo:hover {
            box-shadow: 2pt 3pt 1pt #369bfa;
        }
    </style>
</head>

<body>
    {navbar}
    <header class="row" style="width: 100%;">
        <div class="column col-sm">
            <div class="col-sm my-2">
                <h2 class="text-danger text-center" style="font-family: 'Redressed'; font-size: 40pt;">With Quality Food</h2>
            </div>
            <div class="col-sm">
                <div class="col-sm btn my-3 mx-3">
                    <img src="/favicon.ico" class="logo" alt="Logo">
                </div>
                <div class="col-sm btn mx-3">
                    <img src="/favicon.ico" class="logo" alt="Logo">
                </div>
            </div>
            <p class="col-sm text-capitalize mx-2 my-2" style="font-family: 'Open Sans Condensed'; font-size: 21pt;">
                You can find a variety of differentiated world class food delivered at your door step !!! check Out our menus by actually clicking the logo button right there &uarr; !!!
            </p>
        </div>
        <div class="col-sm" style="height: 700px; background-image: url('/images/mexasian.png'); background-repeat: no-repeat; background-size: 100% 90%; background-position: 0% 30%;"></div>
    </header>
    <h1 class="text-center text-danger" style="font-family: fantasy;">Chef's Signature</h1>
    <script src="/js/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
</body>

</html>