<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <style>
        .logo {
            height: 200px;
            width: 200px;
            border-radius: 6px;
            transform: rotate(60deg);
            transition: 0.98s;
        }
        
        .logo:hover {
            box-shadow: 2pt 3pt 1pt #369bfa;
        }
    </style>
</head>

<body>
    {navbar}
    <header class="row" style="width: 100%;">
        <div class="column col-sm">
            <div class="col-sm my-2">
                <h2 class="text-danger text-center" style="font-family: 'Redressed'; font-size: 40pt;">With Quality Food</h2>
            </div>
            <div class="col-sm">
                <div class="col-sm btn my-3 mx-3">
                    <img src="/favicon.ico" class="logo" alt="Logo">
                </div>
                <div class="col-sm btn mx-3">
                    <img src="/favicon.ico" class="logo" alt="Logo">
                </div>
            </div>
            <p class="col-sm text-capitalize mx-2 my-2" style="font-family: 'Open Sans Condensed'; font-size: 21pt;">
                You can find a variety of differentiated world class food delivered at your door step !!! check Out our menus by actually clicking the logo button right there &uarr; !!!
            </p>
        </div>
        <div class="col-sm" style="height: 700px; background-image: url('/images/mexasian.png'); background-repeat: no-repeat; background-size: 100% 90%; background-position: 0% 30%;"></div>
    </header>
    <div class="container">
        <div class="mb-3">
            <input placeholder="Mobile No" class="form-control mob">
        </div>
        <div class="mb-3">
            <input placeholder="Name" class="form-control nam">
        </div>
        <filter></filter>
    </div>
    <h1 class="text-center text-danger" style="font-family: fantasy;">Cart | Chef's Signature</h1>
    <ul class="orders list-group ChefsSignature flvs"></ul>
    <button class="btn btn-danger mx-2 my-2" onclick="order('flvs')">Order Now</button>
    <h1 class="text-center text-danger" style="font-family: fantasy;">Cart | Indo Mexican</h1>
    <ul class="orders list-group IndoMexican mexa"></ul>
    <button class="btn btn-danger mx-2 my-2" onclick="order('mexa')">Order Now</button>
    <h1 class="text-center text-danger" style="font-family: fantasy;">Cart | Indo Asian</h1>
    <ul class="orders list-group IndoAsian hexa"></ul>
    <button class="btn btn-danger mx-2 my-2" onclick="order('hexa')">Order Now</button>
    <script>
        function order(params) {
            const phone = document.querySelector('.mob').value;
            const name = document.querySelector('.nam').value;
            var rate = [];
            let nameList = [];
            if (document.querySelector('ul, .' + params).innerHTML !== '')
                document.querySelectorAll('ul .orders, .' + params + "> .list-group-item").forEach((val, ind) => {
                    rate.push(val.innerHTML.split('<br> Cost : ')[1].split('>Rs. ')[1].split('</b')[0]);
                    for (let index = 0; index < val.childNodes[3].childNodes.length; index++)
                        if (val.childNodes[3].childNodes[index].value == val.childNodes[3].value) nameList.push(val.childNodes[3].childNodes[index].innerHTML + " : " + val.childNodes[4].innerHTML);
                });
            if (parseInt(phone).toString().length == 10) {
                if (name.length < 4 || name.indexOf("&") > -1) alert("Fill A Valid Name");
                else {
                    const xhr = new XMLHttpRequest();
                    let rateStyle = "";
                    for (let pindex = 0; pindex < nameList.length; pindex++) rateStyle += rate[pindex] + "   ||  " + nameList[pindex] + "<br>";
                    xhr.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            document.querySelector('filter').innerHTML = '';
                            alert(this.responseText);
                        } else {
                            document.querySelector('filter').innerHTML = `<div class="spinner-border bg-red" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>`;
                        }
                    };
                    xhr.open("POST", "/backend/order/" + params, true);
                    xhr.send(`name=${name}&phone=${parseInt(phone)}&qs=${rateStyle}`);
                }
            } else alert("Fill A Valid Mobile Number");
        }
        let glovalJada;
        window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
        var request = window.indexedDB.open("chefssignature", 10);
        request.onsuccess = function(event) {
            let db = request.result;
            glovalJada = db;
            var objectStore = db.transaction("orders").objectStore("orders");
            objectStore.openCursor().onsuccess = function(even) {
                var cursor = even.target.result;
                let newest = document.createElement('div');
                newest.setAttribute('class', 'list-group-item');
                if (cursor) {
                    newest.setAttribute('id', 'my' + cursor.value.id);
                    newest.innerHTML += "<button class='btn btn-warning' onclick=\"removal('" + cursor.value.id + "', '" + cursor.value.rest.replace(' ', '').replace("'", '') + "')\"> - Remove</button><br> Name <select class='form-control por_" + cursor.value.id.replace('.', '') + "' onchange=\"document.querySelector('.rateAl_" + cursor.value.id.replace('.', '') + "').innerHTML=`Rs. ${document.querySelector('.por_" + cursor.value.id.replace('.', '') + "').value.replace('Rs.', '')}`;\">" + cursor.value.cost.split('/').map((val, ind) => "<option value='" + val + "'>" + cursor.value.dishName.split('/')[ind] + "</option>") + "</select><b>" + cursor.value.dishName + "</b><br> Cost : <b class='rateAl_" + cursor.value.id.replace('.', '') + "'>" + cursor.value.cost.split('/')[0] + "</b>";
                    document.querySelector("." + cursor.value.rest.replace(' ', '').replace("'", '')).appendChild(newest);
                    cursor.continue();
                }
            };
        };

        function removal(id, rest) {
            glovalJada.transaction(["orders"], "readwrite")
                .objectStore("orders")
                .delete(id);
            document.querySelector('.' + rest).removeChild(document.getElementById(`my${id}`));
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
</body>

</html>