<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {navbar}
    <div class="container">
        <h1 class="text-center text-danger" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Xing Fu Panda</h1>
        <div class="text-primary container-fluid">
            <b id="name"></b> <br>
            <b id="rate">Rs. </b>
        </div>
        <div class="mx-2 my-2 text-primary" style="font-family: monospace;">
            <div class="mb-3">
                <input placeholder="Mobile No" class="form-control mob">
            </div>
            <div class="mb-3">
                <input placeholder="Name" class="form-control nam">
            </div>
            <div class="mb-3">
                <select placeholder="No Of Portion" class="form-control por" onchange="document.getElementById('rate').innerHTML = `Rs. ${document.querySelector('.por').value}`"></select>
            </div>
            <button class="btn btn-danger" onclick="order()">Order Now</button>
        </div>
        <h3 class="my-2 text-success">Thanks For Purchasing From Here</h3>
        <div class="text-danger py-2 px-2 bg-warning" style="border-radius: 7px; font-family: Arial, sans-serif; letter-spacing: 2px;" id="filter"></div>
    </div>
    <script>
        const i = index--i;
        const j = index--j;
        const k = index--k;
        fetch('/backend/menu2').then(res => res.json()).then(data => {
            if (typeof k === 'string') {
                if (data[i]) {
                    if (data[i].data[j]) {
                        document.querySelector('title').innerHTML += data[i].data[j].name;
                        document.getElementById('name').innerHTML = data[i].data[j].name;
                        if (data[i].data[j].rate.indexOf('/') == -1) {
                            document.getElementById('rate').innerHTML += data[i].data[j].rate;
                            document.querySelector('.por').innerHTML += `<option value="${data[i].data[j].rate}">${data[i].data[j].name}</option>`;
                        } else {
                            const listed = data[i].data[j].rate.split('/');
                            document.getElementById('rate').innerHTML += listed[1];
                            const pisted = data[i].data[j].name.split('/');
                            // pisted.shift();
                            for (let jhdhhdh = 0; jhdhhdh < listed.length; jhdhhdh++) {
                                document.querySelector('.por').innerHTML += `<option value="${listed[jhdhhdh]}">${pisted[jhdhhdh]}</option>`;
                            }
                        }
                    } else window.location.href = '/';
                } else window.location.href = '/';
            } else {
                if (data[i]) {
                    if (data[i].data[j]) {
                        if (data[i].data[j].subordinates[k]) {
                            document.querySelector('title').innerHTML += data[i].data[j].subordinates[k].name;
                            document.getElementById('name').innerHTML = data[i].data[j].subordinates[k].name;
                            if (data[i].data[j].subordinates[k].rate.indexOf('/') == -1) {
                                document.getElementById('rate').innerHTML += data[i].data[j].subordinates[k].rate;
                                document.querySelector('.por').innerHTML += `<option value="${data[i].data[j].subordinates[k].rate}">${data[i].data[j].subordinates[k].name}</option>`;
                            } else {
                                const listed = data[i].data[j].subordinates[k].rate.split('/');
                                document.getElementById('rate').innerHTML += listed[1];
                                const pisted = data[i].data[j].subordinates[k].name.split('/');
                                // pisted.shift();
                                for (let jhdhhdh = 0; jhdhhdh < listed.length; jhdhhdh++) {
                                    document.querySelector('.por').innerHTML += `<option value="${listed[jhdhhdh]}">${pisted[jhdhhdh]}</option>`;
                                }
                            }
                        } else window.location.href = '/';
                    } else window.location.href = '/';
                } else window.location.href = '/';
            }
        });

        function order() {
            const phone = document.querySelector('.mob').value;
            const name = document.querySelector('.nam').value;
            const port = document.querySelector('.por').value;
            if (parseInt(phone).toString().length == 10) {
                if (name.length < 4 || name.indexOf("&") > -1) document.getElementById('filter').innerHTML = "Fill A Valid Name";
                else {
                    const xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            document.getElementById('filter').innerHTML = this.responseText;
                            window.indexedDB = window.indexedDB || window.mozIndexedDB ||
                                window.webkitIndexedDB || window.msIndexedDB;
                            window.IDBTransaction = window.IDBTransaction ||
                                window.webkitIDBTransaction || window.msIDBTransaction;
                            window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange ||
                                window.msIDBKeyRange;
                            var request = window.indexedDB.open("chefssignature", 10);
                            request.onupgradeneeded = function(e) {
                                var db = request.result;
                                let store = db.createObjectStore('orders', {
                                    keyPath: 'id'
                                });
                            };
                            request.onsuccess = function(e) {
                                let db = request.result;
                                const today = new Date();
                                if (db.objectStoreNames.contains('orders')) {
                                    var requestedjfdj = db.transaction(["orders"], "readwrite")
                                        .objectStore("orders")
                                        .add({
                                            id: Math.random() + ['hdhn', 'dfjjf', 'dfjjg', 'dhgffdfe', 'jjfjhgj'][Math.floor(Math.random() * 4)],
                                            rest: "Xing Fu Panda",
                                            name: name,
                                            phone: phone,
                                            port: port,
                                            date: {
                                                date: today.getDate(),
                                                year: today.getFullYear(),
                                                month: today.getMonth()
                                            },
                                            Ordnam: document.querySelector('b#name').innerHTML
                                        });
                                }
                            };
                        } else {
                            document.getElementById('filter').innerHTML = `<div class="spinner-border bg-red" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div>`;
                        }
                    };
                    xhr.open("POST", "/backend/order/mexa" + i + "/" + j + ((typeof k === 'string') ? '' : `/${k}`), true);
                    xhr.send(`name=${name}&phone=${parseInt(phone)}&portion=${parseInt(port)}`);
                }
            } else document.getElementById('filter').innerHTML = "Kindly Fill A Valid Mobile No";
        }
        navigator.geolocation.getCurrentPosition(s => {
            const {
                latitude,
                longitude
            } = s.coords;
            const ourLat = 26.8829296;
            const ourLong = 75.7959145;
            if (!(latitude - ourLat <= 0.1)) document.querySelector('.container').innerHTML = "<p class='text-danger text-center' style='font-size: 16pt; font-family: Arial;'>Kindly Make Sure That We Do Not Take Orders Outside Jaipur City !!! Great Appologies !!!</p>";
            // fetch(`https://api.opencagedata.com/geocode/v1/json?q=${latitude}+${longitude}&key=9c53031e665f4bd6908499164233d517`).then(res => res.json()).then(data => {
            //     console.log(data.results[0]);
            //     if (!(data.results[0].components.city.indexOf("Jaipur") > -1)) document.querySelector('.container').innerHTML = "<p class='text-danger text-center' style='font-size: 16pt; font-family: Arial;'>Kindly Make Sure That We Do Not Take Orders Outside Jaipur City !!! Great Appologies !!!</p>"
            // });
        }, e => {});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
</body>

</html>